html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    font-family: Verdana, sans-serif;
    background-color: #f0f8ff;
}

header {
    background-image: url('../assets/imgs/8957993.jpg');
    background-size: cover;
    background-position: center;
    height: 260px;
    position: relative;
    text-align: center;
}

nav{
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 5px;
    transition: 0.3s;
    background-color: rgb(5, 24, 56);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); 
    text-align: center;
}

header h1 {
    color: white;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    margin: 0;
    font-size: 3rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); 
}


table, th, td {
	border: 1px solid black;
    text-align: center;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

button {
    padding: 20px 20px;
    font-size: 1rem;
    cursor: pointer;
    background-color: rgb(41, 89, 170);;
    color: white;
    border: none;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    transition: 0.3s;
    border-radius: 12px;
    
}

button:hover {
    background-color: rgb(5, 24, 56);;
}

footer{
    margin-top: 20px;
    font-size: 12px;
    text-align: center;
    color: rgba(0, 0, 0, 0.459);
    font-style: italic;
}

